.mainContainer {
  position: relative;
  z-index: 1;
  min-width: 700px;
  min-height: 300px;
  padding: 30px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
.resultContainer {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.resultContainer.show {
  opacity: 1;
}
