@media (min-width: 320px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .link {
    padding: 15px 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #e93108;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .link:hover {
    background-color: green;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 45px;
    margin-bottom: 70px;
    margin-top: 50px;
    transition: background-clip 0.5s ease, color 0.5s ease;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      #33ffff,
      #0f969c,
      #09ebc5,
      #09ebc5
    );
    background-size: 300% 300%;
    animation: gradientAnimation 3s ease-in infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .text {
    font-weight: bold;
    font-size: 30px;
    color: white;
  }
  .iconLogo {
    height: 50px;
    width: 50px;
    animation: spin 5s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 80px;
  }
  .iconLogo {
    height: 60px;
    width: 60px;
  }
  .text {
    font-size: 40px;
  }
  .link {
    padding: 20px 30px;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 100px;
    margin-bottom: 100px;
  }
  .iconLogo {
    height: 70px;
    width: 70px;
  }
}
